<div class="container d-flex">
  <div class="card align-self-start">
    <h4 class="mx-auto fs-5 fw-bold mt-5">URL Shortener</h4>
    <img
      src="/img/ExportedContentImage_00.png"
      class="card-img-top mx-auto mb-4"
      alt="..."
      style="width: 40%;"
    />
    {{! 用IF判斷要顯示輸入表單還是已產生的短網址頁面 }}
    {{#if shortUrl}}

      <div class="link-msg px-3 d-flex flex-column">
        <p class="success mb-0 fs-6 fw-bold">Success! Please use this link:</p>
        <a
          href="http://localhost:3000/{{shortUrl}}"
          target="_blank"
          class="d-block"
          id="short-url"
        >http://localhost:3000/{{shortUrl}}</a>
        <div class="align-self-center mt-3 mb-4">
          <button class="btn btn-primary" id="copy-btn">Copy</button>
          <a href="http://localhost:3000/" class="btn btn-primary">Try More</a>
        </div>
        <!-- Modal -->
        <div
          class="modal fade"
          id="copyMsg"
          tabindex="-1"
          aria-labelledby="exampleModalLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog modal-dialog-centered modal-sm">
            <div class="modal-content d-flex">
              <div class="modal-body text-center fs-3">
                Copied
              </div>
              <button
                type="button"
                class="btn btn-outline-primary mx-auto mb-3 p-1"
                data-bs-dismiss="modal"
                style="mx-width: 50%; font-size: 12px;"
              >Close</button>
            </div>
          </div>
        </div>

      </div>
      <script>
        const copyBtn = document.querySelector('#copy-btn');
        copyBtn.addEventListener('click', function () {
        navigator.clipboard.writeText(document.querySelector('#short-url').textContent).then(()=>
        { const copyMsgModal = new
        bootstrap.Modal(document.querySelector('#copyMsg'));
        copyMsgModal.show(); }).catch((error) => console.log(error)) });
      </script>
    {{else}}

      <div class="card-body" style="width: 100%;">
        <form action="/url_shortener" method="POST" class="d-flex flex-column">
          <input
            type="url"
            name="inputUrl"
            class="form-control align-self-center input"
            placeholder="Input URL here"
            aria-label="Username"
            aria-describedby="basic-addon1"
            style="width: 90%;"
            {{! 驗證input必須被輸入 }}
            required
          />
          <button
            type="submit"
            class="btn btn-outline-primary align-self-center mt-3"
            style="width: 40%;"
          >Shorten</button>
        </form>
      </div>

    {{/if}}

  </div>
  {{! 驗證JSON檔案是否不為空值 }}
  {{#if length}}
    <table class="table table-hover table-striped ms-3">
      <thead class="align-middle">
        <tr class="table-dark text-center">
          <th scope="col">short</th>
          <th scope="col">origin</th>
        </tr>
      </thead>
      <tbody class="align-middle">
        {{! 顯示所有JSON裡的數據 }}
        {{#each data as |data|}}
          <tr>
            <td>{{this}}</td>
            <td>{{@key}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  {{/if}}
</div>